<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>527991380550-k0amrtt031lvr47fgihhvq66rm3na5vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.527991380550-k0amrtt031lvr47fgihhvq66rm3na5vt</string>
	<key>API_KEY</key>
	<string>AIzaSyCGm8JvgqEey93kwOTdwbQKL-Yso-QUsFw</string>
	<key>GCM_SENDER_ID</key>
	<string>527991380550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sjcomp.circlemanage</string>
	<key>PROJECT_ID</key>
	<string>circlemanage-3027a</string>
	<key>STORAGE_BUCKET</key>
	<string>circlemanage-3027a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:527991380550:ios:d9de11285664626c</string>
	<key>DATABASE_URL</key>
	<string>https://circlemanage-3027a.firebaseio.com</string>
</dict>
</plist>